---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <article class="story about-page">
    <p class="kicker">About</p>
    <h1 class="entry-title">What is Mirai?</h1>
    <p>
      Hi! my name is Italo Amaya, and this is my personal website where I post news about myself. The name Mirai comes from the following kanji 未来 (みらい) which means future in Japanese.
      </p>

    <p>
      In here I will post everything, from projects I work on to thoughts I have on life, to even my ceramics :)
      </p>
    <p>
      If you want to comment on anything in this website you can reach me at: 
      </p>
    <p>italo[dot]amaya[dot]contact[at]gmail[dot]com
      </p>
  </article>
</BaseLayout>

<style>
  .about-page {
    margin: 1rem var(--page-padding);
  }

  .about-page > .kicker,
  .about-page > .entry-title,
  .about-page > p {
    text-align: center;
  }

</style>
